<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2018 VP | Jaime </p>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">

</script>

</body>

</html>
