<!DOCTYPE html>
<html lang="en">

<head>

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->

  <% include ./partials/head.ejs %>

<link href="../stylesheets/style.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

</head>

<body class="container">

  <header>
    <% include ./partials/header.ejs %>
  </header>

  <main>
    <div class="jumbotron">

      <h2>Add Your Chunes</h2>


    </div>
    <div>
      <!-- <h1>Albums</h1> -->
    </div>
    <!-- <div class="card border-dark mb-3" style="width: 18rem;">
      <img class="card-img-top" width="286" height="180" src="https://images.unsplash.com/photo-1471029093449-ca61fffdc2af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d90df62acc54e7ccf0c4d865d18429e&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
<<<<<<< HEAD
    </div> -->
      <h2>Good Chunes</h2>
=======
    </div> %>


    <div class='carousel'>

    </div>

>>>>>>> background


      <div class="containerOne">
        <form method="POST" action="/collections">
          <div class="row">
            <div class="c25">
              <label for="name">Album Name</label>
            </div>
            <div class="c75">
              <input required type="text" id="name" name="name" placeholder="Album name..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="artistName">Artist Name</label>
            </div>
            <div class="c75">
              <input required type="text" id="artistName" name="artistName" placeholder="Artist name..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="releasedate">Release Date</label>
            </div>
            <div class="c75">
              <input required type="text" id="releasedate" name="releaseDate" placeholder="Release Date..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="generes">Genres</label>
            </div>
            <div class="c75">
              <input required type="text" id="generes" name="genres" placeholder="Genres..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="imageurl">Album Cover</label>
            </div>
            <div class="c75">
              <input required type="text" id="imageurl" name="imageurl" placeholder="Album Cover Url..">
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
  </main>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

</body>

</html>
