/* * {
    box-sizing: border-box;
} */
body {

  /* background-color: #F5FFF9; */
  background-image: url("https://images.unsplash.com/photo-1436319460292-00da52a6c97d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=942008212b3d7315f2a8d762b6602ba1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;

}

navbar-header {
  background-color: rgba(0, 0, 0, 0);
  float: left;
  text-align: right;
  margin: 100px;
}
h2 {
text-align: center;
font-family: 'Gloria Hallelujah', cursive;
}
.jumbotron{
  background-image: url('https://images.unsplash.com/photo-1521798948753-02f843fd3e5d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7a2059a47213b313bb76f8996273d794&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#secondHeader {
  text-align: center;
}

header {

  /* display: inline-flex; */
/* opacity: 0.6; */
}
main {
  margin-right: 300px;
  margin-bottom: 100px;
}

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containerOne {
    padding: 20px;
    width: 50%;
    margin-left: 23%;
    margin-bottom: 25px;

}

.c25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.c75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear:left;

}

@media (max-width: 600px) {
    .c25, .c75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

footer {
  margin-top: 40px;

 }
