/* * {
    box-sizing: border-box;
} */
body {

  /* background-color: #F5FFF9; */
  background-image: url(https://i.imgur.com/zAepB1N.jpg);
  background-size: cover;

}

navbar-header {
  background-color: rgba(0, 0, 0, 0);
  float: left;
  text-align: right;
  margin: 100px;
}
h2 {
text-align: center;
font-family: 'Gloria Hallelujah', cursive;
}
.jumbotron{
  background-color: rgba(0, 0, 0, 0);
  color: grey;


}

/* .container{
  background-image: url(https://i.imgur.com/zAepB1N.jpg);
  background-size: cover;

} */

header {

  /* display: inline-flex; */
/* opacity: 0.6; */
}
main {
  margin-right: 300px;
  margin-bottom: 100px;
}
/* }
.carousel {
  width: 300px;
  height: 50px;

} */

/* element {
  width: 4308px;
  left: 0px;
  display: block;
  transform: translate3d(0px, 0px, 0px);
  transition:;
    transition-property: all;

} */

input[type=text],input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containerOne {
    padding: 20px;
    width: 50%;
    margin-left: 23%;
    margin-bottom: 25px;

}

.c25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.c75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear:left;

}
@media (max-width: 600px) {
    .c25, .c75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

footer {
  margin-top: 40px;

 }
